<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.LoraRow.Name}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <style>
    html *:not(code) {
      font-family: "Noto Sans JP", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
    a, a:hover, a:visited, a:active {
      color: inherit;
      text-decoration: none;
    }
    code {
      background-color: #eeeeee;
      display: block;
      padding: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <a href="/browse-lora">[Browse LoRA]</a>
  <div id="lora-main" style="width: 50%; margin: auto;">
    <h1>{{.LoraRow.Name}} - {{.LoraRow.Version}}</h1>
    <a href="{{.LoraRow.URL}}">[View on civitai.com]</a>
    <code>{{.Filename}}</code>
    <img src="/api/lora/{{.LoraId}}/urlpreview" alt="civitai.com preview image">
    {{ $Join := .Join }}
    {{ $LoraId := .LoraId }}
    {{ range $CatalogDatum := .CatalogData }}
    <h2>{{ $CatalogDatum.CheckpointRow.Name }} - {{ $CatalogDatum.CheckpointRow.Version }}</h2>
    {{ $CheckpointFilename := $CatalogDatum.CheckpointRow.CheckpointFilename }}
    {{ range $AvailableSampleImageDatum := $CatalogDatum.AvailableSampleImageData }}
    <code>{{ call $Join $AvailableSampleImageDatum.PromptListItem.Prompts }}</code>
    {{ $PromptListId := $AvailableSampleImageDatum.PromptListItem.PromptListId }}
    {{ range $AvailableSampleImageTypeRow := $AvailableSampleImageDatum.AvailableSampleImageTypes }}
    <div>
    {{ range $AvailableSampleImageType := $AvailableSampleImageTypeRow }}<img src="/api/lora/{{ $LoraId }}/sampleImage/{{ $CheckpointFilename }}/{{ $PromptListId }}/{{ $AvailableSampleImageType }}" style="width: 33.33%;">{{ end }}
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
  <script>
    (async () => {
      document.addEventListener("keydown", async (event) => {
        if (event.key === "ArrowLeft") {
          const prev = {{ if .PrevLoraId }}{{ .PrevLoraId }}{{ else }}null{{ end }};
          if (prev) location.href = new URL(`/lora/${prev}`, location.origin);
        } else if (event.key === "ArrowRight") {
          const next = {{ if .NextLoraId }}{{ .NextLoraId }}{{ else }}null{{ end }};
          if (next) location.href = new URL(`/lora/${next}`, location.origin);
        }
      });
    })();
  </script>
</body>
</html>
